<script>
$(document).ready(function() {
  $("#email").blur(function() {
    client = $.get('<%= get_clients_path %>', { email: $(this).val() });
  });
});
</script>
<div class="row five-margin-bot">
  <div class="col s12 caixa">
    <h5>CONFIRMAR DADOS DO CLIENTE</h5>
  </div>
</div>
<style>
.row .card .row {
  margin-bottom: 0;
}
.row .card .row input[type="text"] {
  padding: 0 !important;
  height: 30px;
  margin-top: 8px;
  font-size: 12px;
}
</style>
<div class="row">
  <div class="col s12">
    <div class="card">
      <%= form_for @client, url: finish_order_path, method: :post do |f| %>
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :email, "Email" %>
              <%= f.text_field :email, id: "email", readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :company, "Nome" %>
              <%= f.text_field :company, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s7">
              <%= f.label :name, "Contato" %>
              <%= f.text_field :name, readonly: true %>
            </div>
            <div class="input-field col s5">
              <%= f.label :phone, "Telefone" %>
              <%= f.text_field :phone, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :address, "Endereço" %>
              <%= f.text_field :address, readonly: true %>
            </div>
            <div class="input-field col s6">
              <%= f.label :district, "Bairro" %>
              <%= f.text_field :district, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <%= f.label :city, "Cidade" %>
              <%= f.text_field :city, readonly: true %>
            </div>
            <div class="input-field col s4">
              <%= f.label :uf, "Estado" %>
              <%= f.text_field :uf, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :cep, 'CEP' %>
              <%= f.text_field :cep, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :cpf, 'CPF/CNPJ' %>
              <%= f.text_field :cpf, readonly: true %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.collection_select :section_id, Section.all, :id, :name, {}, disabled: true %>
              <%= f.label :section_id, 'Ramo de atuação' %>
            </div>
            <div class="input-field col s6">
              <%= f.label :birthday, 'Aniversário', class: "active" %>
              <%= f.date_field :birthday, readonly: true %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :obs, 'Observações' %>
              <%= text_area_tag :obs, "", class: "materialize-textarea", style: "height: 100px" %>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button id="submit" class="btn waves-effect waves-light light-green" type="submit" name="action">
            <%= material_icon.shopping_cart.css_class("left") %> Finalizar
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
