<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
            <th data-field="name" width="55%">Produto</th>
            <th data-field="qtd" width="15%">Preço Unit.</th>
            <th data-field="qtd" width="15%">Qtd</th>
            <th data-field="total" width="15%">Total</th>
        </tr>
      </thead>

      <tbody>
        <% current_cart.order_items.order("id desc").each do |order_item| %>
        <tr>
          <td>
            <strong><%= order_item.item.try(:name) %></strong>
            <%= link_to order_item_path(order_item, key: params[:key]), method: :delete, class: "red-text" do %>
            <i class="material-icons" style="vertical-align: bottom;">delete</i>
            <% end %>
            <span style="display: block; font-size: .8em;"><%= order_item.item.family.name %></span>
            <span style="display: block; font-size: .8em;"><%= order_item.item.group.name %> <%= order_item.item.subgroup.name %></span>
          </td>
          <td><%= number_to_currency(order_item.unit_price) %></td>
          <td><%= form_for order_item, remote: true do |f| %>
                <%= f.number_field :quantity, step: 0.5, style: "width: 40px;" %>
                <button id="submit" class="btn btn-tiny waves-effect waves-light light-green" type="submit" name="action">
                  <i class="material-icons">loop</i>
                </button>
              <% end %></td>
          <td><%= number_to_currency(order_item.total_price) %></td>
        </li>
        <% end %>

        <% current_cart.order_tintas.order("id desc").each do |order_tinta| %>
        <tr>
          <td>
            <strong><%= order_tinta.rformula.color.split("-").first %></strong> (<%= order_tinta.can.try(:humanize) %>)
            <%= link_to order_tinta_path(order_tinta, key: params[:key]), method: :delete, class: "red-text" do %>
              <i class="material-icons" style="vertical-align: bottom;">delete</i>
            <% end %>
            <span style="font-size: .8em; display: block;"><%= order_tinta.rformula.rline.name %></span>
            <span style="font-size: .8em; display: block;"><%= order_tinta.rformula.rproduct.code %></span>
          </td>
          <td><%= number_to_currency(order_tinta.unit_price) %></td>
          <td><%= form_for order_tinta, url: order_tinta_path(order_tinta), remote: true do |f| %>
                <%= f.number_field :quantity, step: 0.5, style: "width: 40px;" %>
                <button id="submit" class="btn btn-tiny waves-effect waves-light light-green" type="submit" name="action">
                  <i class="material-icons">loop</i>
                </button>
              <% end %></td>
          <td><%= number_to_currency(order_tinta.total_price) %></td>
        </li>
        <% end %>
      </tbody>
      <tr>
        <td colspan="3" class="right-align"><strong>Total:</strong></td>
        <td colspan="2"><strong><%= number_to_currency(current_cart.calculate_total) %></strong></td>
      </tr>
    </table>
  </div>
  <div class="col s12">
    <br>
    <%= link_to clean_path(key: params[:key]), class: "btn grey darken-2" do %>
      <%= material_icon.delete.css_class("left") %> Limpar
    <% end %>

    <%= link_to shipping_order_path, class: "btn light-green", method: :post do %>
      <%= material_icon.shopping_cart.css_class("left") %> Finalizar
    <% end %>
  </div>
</div>
