<div class="card-panel" style="margin-top: 1px;">
  <%= link_to "Bases", resicolor_rbases_path, class: "btn green" %>
  <%= link_to "Produtos", resicolor_rproducts_path, class: "btn green" %>
  <%= link_to "Formulas", resicolor_rformulas_path, class: "btn green" %>
  <%= link_to "Integrar", resicolor_integrate_path, class: "btn grey" %>
  <%= link_to "Importar", resicolor_path, class: "btn grey" %>
</div>
