<%= render "rmenu" %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <h5>Importação Resicolor</h5>
        <%= form_tag resicolor_path, multipart: true do %>
        <div class="row">
          <div class="input-field col s12">
            Arquivo<br />
            <%= file_field_tag :file, class: "round full-width-input" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            Formula<br />
            <%= file_field_tag :formula, class: "round full-width-input" %>
          </div>
        </div>

        <div class="section">
          <%= button_tag type: "submit", name: "action", class: "btn" do %>
            <i class="material-icons right">send</i>Importar
          <% end %>

          <%= link_to "Resetar", resicolor_reset_path, method: :post, class: "btn", data: { confirm: "Isso irá limpar o banco. Continuar?" } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
