<div class="col s12 m6 red darken-1 white-text" style="padding: 0;">
  <span style="padding: 5px;" class="left">
    <%= @client.name %>
    <br><%= @client.email %>
  </span>
</div>
<div class="col s12 m6 red darken-1 white-text" style="padding: 0;">
  <a class="btn-large right green" onclick="$('.search').slideToggle(); $('.cart').slideToggle(); $('#search').focus();">
    <i class="large material-icons">shopping_cart</i>
  </a>

  <%= link_to "#client-infos", class: "modal-trigger btn-large right red darken-1" do %>
    <i class="large material-icons">account_box</i>
  <% end %>

  <%= link_to clear_client_path(@client), class: "btn-large right red darken-1" do %>
    <i class="large material-icons">refresh</i>
  <% end %>
</div>
<div class="col s12 no-space cart" style="display: none;">
  <%= render "cart/cart" %>
</div>

<div class="col s12 no-space search">
  <nav>
    <div class="nav-wrapper red lighten-2">
      <%= form_tag root_path, method: :get do %>
        <div class="input-field">
          <input id="search" onfocus="this.select();" type="search" style="text-transform: uppercase;" name="key" value='<%= params[:key] %>' required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
  </nav>

  <%= render "item/search" %>
</div>

<div id="client-infos" class="modal">
  <div class="modal-content">
    <h5 style="text-align: center;"><%= @client.name %></h5>
    <table>
      <tbody>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Razão social</td>
          <td><%= @client.company %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Ramo</td>
          <td><%= @client.section.try(:name) %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Email</td>
          <td><%= @client.email %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Telefone</td>
          <td><%= @client.phone %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Endereço</td>
          <td><%= @client.address %> <%= @client.district %> - <%= @client.city %>/<%= @client.uf %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">CPF/CNPJ</td>
          <td><%= @client.cpf %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>
