<div class="row" style="margin-bottom: -7px;">
<div class="col s12 m6 red darken-1 white-text" style="height: 54px; padding: 0;">
  <span style="padding: 5px;" class="left">
    <%= @client.name %>
    <br><%= @client.company %>
  </span>
</div>
<div class="col s12 m6 red darken-1 white-text" style="padding: 0;">
  <a class="btn-large right green" onclick="$('.search').slideToggle(); $('.cart').slideToggle(); $('#search').focus();">
    <i class="large material-icons">shopping_cart</i>
  </a>

  <%= link_to "#client-infos", class: "modal-trigger btn-large right red darken-1" do %>
    <i class="large material-icons">account_box</i>
  <% end %>

  <%= link_to clear_client_path(@client), class: "btn-large right red darken-1" do %>
    <i class="large material-icons">refresh</i>
  <% end %>
</div>
<div class="col s12 no-space cart" style="display: none;">
  <%= render "cart/cart" %>
</div>
</div>
<div class="search">
<div class="row" style="margin-top: 0px; margin-bottom: 0;">
  <div class="card-panel">
    <div class="search-offers">
      <%= form_tag tintas_path, method: :get do %>
        <fieldset style="border: none; margin: 0; padding: 0;">
          <div class="row" style="margin-bottom: 0;">
            <div class="input-field col s12 m4">
              <%= select_tag :fabricante_id, options_from_collection_for_select(Fabricante.all.order('id desc'), :id, :name, params[:fabricante_id]) %>
            </div>
            <div class="input-field col s12 m8">
              <%= text_field_tag :color, params[:color], id: "search", class: "autocomplete" %>
              <%= label_tag :color, "Cor" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m7">
              <%= select_tag :tinta_produto_id, options_from_collection_for_select(TintaProduto.all, :id, :descricao, params[:tinta_produto_id]), prompt: 'Linha', include_blank: false %>
            </div>

            <div class="input-field col s12 m5">
              <%= select_tag :tinta_embalagem_id, options_from_collection_for_select(TintaEmbalagem.all, :id, :descricao, params[:tinta_embalagem_id]), include_blank: false %>
            </div>
            <!-- <div class="input-field col s12 m3">
              <%= select_tag :tinta_acabamento_id, options_from_collection_for_select(TintaAcabamento.all.uniq, :descricao, :descricao, params[:tinta_acabamento_id]), prompt: 'Acabamento', include_blank: false %>
            </div> -->
          </div>

          <button class="btn" type="submit" name="action">
            Buscar
          </button>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<% if @tintas %>
<% @tintas.first(30).each do |tinta_cor| %>
<div id="rf-<%= tinta_cor.id %>" class="modal">
  <div class="modal-content">
    <h5 style="text-align: center;"><%= tinta_cor.codigo.try(:humanize) %> (<%= @tinta_embalagem.try(:descricao) %>)</h5>
    <h6 style="text-align: center; margin-bottom: 20px;"><%= "#{tinta_cor.tinta_acabamento.descricao} - #{tinta_cor.tinta_acabamento.tinta_produto.descricao}" %></h5>
    <table class="striped bordered">
      <tbody>
        <% base = tinta_cor.base(@tinta_embalagem) %>
        <% (0..5).each do |n| %>
          <% unless tinta_cor.read_formula[n].blank? or tinta_cor.pigmento(n).blank? %>
            <% quantidade = tinta_cor.read_formula[n].values[0].to_d * @tinta_embalagem.quantidade %>
            <% preco = tinta_cor.pigmento(n).try(:tinta_pigmento_item).try(:item).try(:price) %>
            <tr>
              <td><%= tinta_cor.pigmento(n).try(:descricao) %></td>
              <td><%= quantidade %><%#= ((quantidade || 0).to_d) *946/1000 %></td>
              <td><%= number_to_currency preco if tinta_cor.pigmento(n) %>/ml</td>
              <td><%= number_to_currency ((quantidade || 0).to_d * (preco || 0).to_d) %></td>
              <td style="color: green"><%= number_to_currency (tinta_cor.total_pigmento(n, @tinta_embalagem)) %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td colspan="3"></td>
          <td><%= number_to_currency (tinta_cor.no_margin_price_pigmentos(@tinta_embalagem)) %></td>
          <td><%= number_to_currency (tinta_cor.price_pigmentos(@tinta_embalagem)) %></td>
        </tr>
        <tr>
          <td colspan="4"><%= base.try(:name) %></td>
          <td><%= number_to_currency base.try(:price) %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td><%= number_to_currency (tinta_cor.no_margin_price_pigmentos(@tinta_embalagem) + base.try(:price)) %></td>
          <td><%= number_to_currency tinta_cor.total_price(@tinta_embalagem) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <!-- <div style="background-color: #<%#= tinta.rgb %>;
                width: 80px; height: 40px;
                border: 1px solid #dedede;
                bottom: 20px; left: 20px; position: absolute;"><%#= tinta.rgb %></div> !-->

    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>
<% end %>
<% end %>

<div class="card-panel" style="margin-top: -14px;">
  <table class="bordered">
    <thead>
      <tr style="background-color: #efefef; border: 1px solid #dedede;">
          <th data-field="name">Cor</th>
          <th data-field="name"></th>
          <th data-field="name">Acabamento</th>
          <th data-field="name">Linha</th>
          <th data-field="name">Preço</th>
          <th data-field="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% if @tintas %>
        <% @tintas.first(30).each do |tinta_cor| %>
        <tr>
          <td><%= tinta_cor.codigo %></td>
          <td><%= tinta_cor.descricao %></td>
          <td><%= tinta_cor.tinta_acabamento.descricao %></td>
          <td><%= tinta_cor.tinta_acabamento.tinta_produto.descricao %></td>
          <td><%= number_to_currency tinta_cor.total_price(@tinta_embalagem) %></td>
          <td>
            <%= link_to "Fórmula", "#rf-#{tinta_cor.id}", class: "modal-trigger" %> |
            <%= link_to "Adicionar", order_tintas_path(tinta_id: tinta_cor.id, quantity: 1, tinta_embalagem_id: @tinta_embalagem.id), method: :post, remote: true %>
          </td>
        </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<div id="client-infos" class="modal">
  <div class="modal-content">
    <h5 style="text-align: center;"><%= @client.name %></h5>
    <table>
      <tbody>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Razão social</td>
          <td><%= @client.company %> (<%= @client.section.try(:name) %>)</td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Email</td>
          <td><%= @client.email %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Telefone</td>
          <td><%= @client.phone %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">Endereço</td>
          <td><%= @client.address %> <%= @client.district %> - <%= @client.city %>/<%= @client.uf %></td>
        </tr>
        <tr>
          <td style="text-align: right; padding-right: 20px; width: 170px;">CPF/CNPJ</td>
          <td><%= @client.cpf %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    <%= link_to "Editar", [:edit, @client], class: "btn-flat" %>
  </div>
</div>
