<div id="order-cc-<%= order.id %>" style="display:none;">
    <hr style="margin: 20px 0; border: none; border-bottom: 1px solid #dedede !important;" />
    <div class="card-panel ccvalue" style="padding: 10px 20px; margin: 10px 0;">
    <h5 style="font-size: 15px;" class="big-spaced">Gerenciar forma de pagamento</h5>
    <hr style="margin: 20px 0 10px 0; border: none; border-bottom: 1px solid #dedede !important;" />
    <div style="
        display: flex;
        align-items: center;
        margin: 20px 0;">
        <i class="material-icons left blue-text" style="padding: 0px 0;">web</i>
        <div class='switch'>
        <label style="font-size: 16px; color: black;">Boleto
            <input class="boleto" data-order="<%= order.id %>" type="checkbox" <%= "checked" if order.boleto? %>>
            <span class="lever"></span>
        </label>
        </div>
    </div>
    <div style="
        display: flex;
        align-items: center;">
        <i class="material-icons left blue-text" style="padding: 0px 0;">credit_card</i>
        <h5 style="font-size: 16px;">Valor no cartão:</h5>
    </div>
    <%= form_for [:setcc, order], method: :put, remote: true do |f| %>
        R$ <%= f.number_field :cc_value, step: 0.01,
                style: "width: 60px;",
                disabled: order.boleto?,
                value: (order.cc_value.to_f > 0 ? order.cc_value : order.total) %>
        <button <%= "disabled" if order.boleto? %> class="btn waves-effect waves-light light-green" type="submit" name="action">
        <i class="material-icons left">save</i> Salvar
        </button>
    <% end %>
    </div>
</div>