    <div class="row five-margin-bot breads">
      <div class="col s12">
        <h5 class="left">Pedidos</h5>
      </div>
    </div>
    <style>
    .titled {
      color: #767676; font-size: 8px;
      text-transform: uppercase;
    }
    .rowed {
      padding: 0 0px;
      padding-bottom: 0px;
      margin: 0;
      font-size: 12px;
    }
    </style>
    <div class="row" style="letter-spacing: 0.5px;">
      <div class="col s12">
        <div class="card-panel" style="padding: 20px;">
          <div class="search-offers">
            <%= form_tag orders_path, method: :get do %>
                <fieldset style="border: none; margin: 0; padding: 0;">
                  <input name="keyword" id="icon_local" style="display: inline;" type="search" placeholder="Filtrar pedidos" value='<%= params[:keyword] %>'>
                  <button class="btn" type="submit" name="action">
                    Filtrar
                  </button>

                  <%= hidden_field_tag :type, params[:type] %>
                  <%= link_to "Todos", orders_path, style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type].blank?}" %>
                  <% if current_user.admin? %>

                    <%= link_to "Cancelados", orders_path(type: "canceled"), style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type] == 'canceled'}" %>
                    <%= link_to "Pagos", orders_path(type: "paid"), style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type] == 'paid'}" %>
                  <% end %>
                  <% if current_user.caixa? %>
                    <%= link_to "Carteira", orders_path(type: "pending"), style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type] == 'pending'}" %>
                  <% end %>
                  <%= link_to "Abertos", orders_path(type: "opened"), style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type] == 'opened'}" %>
                  <%= link_to "Orçamentos", orders_path(type: "quote"), style: 'padding: 0 12px !important; margin: 0;', class: "btn-flat #{'disabled' if params[:type] == 'quote'}" %>
              </fieldset>
            <% end %>
          </div>
        </div>
        <% @orders.where.not(client: nil).each do |order| %>
          <% begin %>
            <%= render "order", order: order %>
          <% rescue => e %>
            <% order.cancel! %>
            <%= e.inspect %>
            </div></div></div>
          <% end %>
        <% end %>
        <%= paginate @orders %>
      </div>
    </div>
