<div class="row five-margin-bot breads">
  <div class="col s12">
    <h5>Pedidos</h5>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="search-offers">
        <%= form_tag orders_path, method: :get do %>
            <fieldset style="border: none; margin: 0; padding: 0;">
              <input name="keyword" id="icon_local" style="display: inline;" type="search" placeholder="Filtrar pedidos" value='<%= params[:keyword] %>'>
              <button class="btn" type="submit" name="action">
                Filtrar
              </button>

              <%= hidden_field_tag :type, params[:type] %>

              <%= link_to "Todos", orders_path, class: "btn-flat #{'disabled' if params[:type].blank?}" %>
              <%= link_to "Abertos", orders_path(type: "opened"), class: "btn-flat #{'disabled' if params[:type] == 'opened'}" %>
              <%= link_to "Pagos", orders_path(type: "paid"), class: "btn-flat #{'disabled' if params[:type] == 'paid'}" %>
              <%= link_to "Cancelados", orders_path(type: "canceled"), class: "btn-flat #{'disabled' if params[:type] == 'canceled'}" %>
          </fieldset>
        <% end %>
      </div>
    </div>
    <% @orders.each do |order| %>
    <% begin %>
      <div class="card-panel">
        <h5 class="order" onclick="$('#order-'+<%= order.id %>).slideToggle();">Pedido #<%= order.id %></h5>
        <div class="divider"></div>
        <div style="padding: 20px">
          Vendedor: <%= order.user.try(:email) || "Não informado" %><br>
          Cliente: <%= order.client.try(:company) || "Não informado" %> - Fone: <%= order.client.try(:phone) || "Não informado" %><br>
          Endereço: <%= order.client.try(:address) || "Não informado" %> <%= order.client.try(:cep) %><br>
          Cidade: <%= order.client.try(:city) || "Não informado" %> <%= order.client.try(:uf) %><br>
          CPF/CNPJ: <%= order.client.try(:cpf) || "Não informado" %>
          <% if order.obs %>
            <br><%= order.obs %>
          <% end %>

          <span class="badge green white-text"><%= order.get_state %></span>
        </div>
        <div class="orders" id="order-<%= order.id %>">
          <table class="bordered striped highlight" style="margin-top: 20px;">
            <thead>
              <tr class="grey  white-text">
                  <th data-field="id" width="">#</th>
                  <th data-field="item" width="">Produto</th>
                  <th data-field="unit" width="">Valor</th>
                  <th data-field="quantity" width="">Quantidade</th>
                  <th data-field="total" width="">Total</th>
              </tr>
            </thead>

            <tbody>
              <% order.order_items.each do |oi| %>
                <tr>
                  <td><%= oi.item.code %></td>
                  <td><%= oi.item.name %></td>
                  <td><%= number_to_currency oi.unit_price %></td>
                  <td><%= oi.quantity %></td>
                  <td><%= number_to_currency oi.total_price %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan='4' class="right-align">Total:</td>
                <td><%= number_to_currency order.calculate_total %></td>
              </tr>
            </tbody>
          </table>
          <br>

          <% if current_user.caixa? %>
            <%= link_to pay_order_path(order), class: "btn light-green", method: :post do %>
              <i class="material-icons left">payment</i> Pago
            <% end %>

            <%= link_to open_order_path(order), class: "btn light-blue", method: :post do %>
              <i class="material-icons left">settings</i> Abrir
            <% end %>

            <%= link_to edit_order_path(order), class: "btn grey darken-2" do %>
              <i class="material-icons left">edit</i> Editar
            <% end %>
          <% end %>

          <%= link_to cancel_order_path(order), class: "btn grey darken-2", method: :post do %>
            <i class="material-icons left">delete</i> Cancelar
          <% end %>

          <%= link_to print_order_path(order), target: "_blank", class: "right btn grey darken-2", method: :post do %>
            <i class="material-icons right">print</i> Imprimir
          <% end %>
        </div>
      </div>
      <% rescue => e %>
        <%= order.id %>
      <% end %>
    <% end %>
    <%= paginate @orders %>
  </div>
</div>
