<%= render "menu" %>

<div class="">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 style="margin-top: 40px;">Integração</h4>
    </div>
  </div>
</div>

<div id="bases">
  <div class="row">
    <div class="card-panel">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="name">Fabricante</th>
              <th data-field="name">Acabamento</th>
              <th data-field="name">Base</th>
              <th data-field="name">Embalagem</th>
              <th data-field="name">Item</th>
          </tr>
        </thead>

        <tbody>
          <% @tinta_acabamento_base_items.each do |tinta_acabamento_base_item| %>

          <tr>
            <td><%= tinta_acabamento_base_item.tinta_base.fabricante.name %></td>
            <td><%= tinta_acabamento_base_item.tinta_acabamento.descricao %></td>
            <td><%= tinta_acabamento_base_item.tinta_base.descricao %></td>
            <td><%= tinta_acabamento_base_item.tinta_embalagem.descricao %></td>
            <td><%= tinta_acabamento_base_item.item.name %></td>
          </tr>

          <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>
