<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h4 style="margin-top: 40px;">Itens</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="search-offers">
        <%= form_tag items_path, method: :get, id: "searchForm" do %>
            <fieldset style="border: none; margin: 0; padding: 0;">
              <input name="keyword" id="icon_local" style="display: inline;" type="search" placeholder="Filtrar itens" value='<%= params[:keyword] %>'>
              <button class="btn" type="submit" name="action">
                Filtrar
              </button>
              <%= link_to "Imprimir", print_items_path(keyword: params[:keyword]), class: "btn large blue" %>
              <%#= link_to "Sem imagem", items_path(noimage: 'noimage'), class: "btn right" %>

              <div class="right">
                <%= link_to "Entrada de nota", nfe_items_path, style: "margin-right: 20px;", class: "left btn large blue" %>

                <%= select_tag :stock_id,
                      options_from_collection_for_select(Stock.all, :id, :name, params[:stock_id]),
                      include_blank: false,
                      prompt: "Modo inventário",
                      id: "modoInventario",
                      class: "right" %>
              </div>
          </fieldset>
        <% end %>
      </div>
    <div>

    <div>
      <table class="striped bordered">
        <thead>
          <tr>
            <th data-field="img"></th>
            <th data-field="id"></th>
            <th data-field="name">Nome</th>
            <th data-field="name">Estoque</th>
            <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>

            <tr>
              <td><%= image_tag item.image, class: "circle materialboxed", style: "width: 60px; height: 60px; border-radius: 0% !important;" %></td>
              <td><%= item.code %></td>
              <td><%= item.name %></td>
              <% unless params[:stock_id].blank? %>
                <td>
                  <p style="line-height: 12px; margin: 0; padding-bottom:8px;"><%= "#{@stock.name}: #{@stock.of_item(item.id)}" %>
                      <span style="
                        clear:both; font-size: 9px; text-transform: uppercase;
                        line-height: 1px; color: #676767;
                        letter-spacing: 1px;">
                        <br>
                        <%= @stock.location_of(item.id) %>
                      </span>
                  </p>
                  
                    <div class="switch">
                      <label>
                        <input
                          type="checkbox"
                          class="stockCount"
                          id="item-<%= item.id %>"
                          data-stock_id="<%= params[:stock_id] %>"
                          data-id="<%= item.id %>"
                          <%= "checked" if @stock.checked?(item.id) %>                        
                        >
                        <span class="lever"></span>
                      </label>
                    </div>
                </td>
              <% else %>
                <td><% Stock.all.each do |stock| %>
                    <p style="line-height: 12px; margin: 0; padding-bottom:8px;"><%= "#{stock.name}: #{stock.of_item(item.id)}" %>
                      <span style="
                        clear:both; font-size: 9px; text-transform: uppercase;
                        line-height: 1px; color: #676767;
                        letter-spacing: 1px;">
                        <br>
                        <%= stock.location_of(item.id) %>
                      </span>
                    </p>
                  <% end %>
                </td>
              <% end %>
              <td>
                <%= link_to "Editar", [:edit, item] %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>

      <%= paginate @items, params: { stock_id: params[:stock_id], keyword: params[:keyword] } %>

    </div>
  </div>
</div>
