<%#= render "layouts/flash" %>
<%= form_for @output, html: { class: "form-output form-once" } do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.collection_select :stock_id, Stock.all, :id, :name, { }, disabled: !current_user.admin? %>
      <%= f.label :stock_id, "Loja" %>
    </div>
    <div class="input-field col s6">
      <%= f.collection_select :user_id, @users, :id, :name, { }, disabled: !current_user.admin? %>
      <%= f.label :user_id, "Responsável" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.select :output_type, Output::TYPES %>
      <%= f.label :output_type, "Tipo" %>
    </div>

    <div class="input-field col s8">
      <%= f.number_field :value, step: 0.01 %>
      <%= f.label :value, "Valor" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :description, "Descrição" %>
      <%= f.text_area :description, class: "materialize-textarea" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
