<div class="row" style="margin-top: -8px">
  <div class="card-panel">
    <div class="search-offers">
      <%= form_tag checkout_path, method: :get do %>
        <fieldset style="border: none; margin: 0; padding: 0;">
          <div class="row">
            <div class="input-field col s12">
              <%= label_tag :from, 'Data', class: "active" %>
              <%= date_field_tag :day, (@day || Date.today) %>
            </div>
          </div>
            <button class="btn" type="submit" name="action">
              Filtrar
            </button>
        </fieldset>
      <% end %>
    </div>
  </div>

  <% @orders.each do |user, orders| %>
  <% if current_user.admin? or current_user.stock.user == user %>
  <div class="col s12 m6">
    <div class="card-panel">

    <%
      envelopes = @envelopes.where(stock_id: user.stock_id)
      despesas = @despesas.where(stock_id: user.stock_id)
      injecoes = @injecoes.where(stock_id: user.stock_id)
      descontos = orders.select {|o| o.money? }.sum{|o| o.get_discount.to_f }
      shippings = orders.select {|o| o.money? }.sum{|o| o.shipping.to_f }
      boletos = orders.select {|o| o.boleto? }
      total_boleto = boletos.sum(&:total_discounted)
      @money = orders.sum(&:total_cash) - total_boleto
      caixa_inicial = CloseDay.where(stock_id: user.stock_id, day: @day).first.try(:initial) || 0
      caixa_final = CloseDay.where(stock_id: user.stock_id, day: @day).first.try(:final) || 0
    %>

    <% if Order.
      opened.
      where(
        "user_id = ? and created_at > ? and created_at < ?",
        user.id,
        @day.beginning_of_day,
        @day.end_of_day).any? %>
      <div class="big-spaced" style="text-align: center; margin-bottom: 20px; font-size: 11px; padding: 10px; background-color: #ddaa00; color: white; border: 1px solid #cc9900;">
        <strong>Atenção:</strong> Confira os pedidos em aberto.
      </div>
    <% end %>

      <h5 class="big-spaced" style="text-align: center; border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 14px; color: #676767;">
        Vendas de <%= params[:day].blank? ? 'hoje' : l(@day) %>
          (<%= Stock.find_by_user_id(user.id).try(:name) || user.try(:name) %>)
      </h5>
        <table class="bordered report1">
            <thead>
            <tr>
                <th data-field="id"></th>
                <th data-field="name"></th>
                <th data-field="actions">Valor</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td width="50%">Subtotal</td>
                <td width="25%"></td>
                <td width="25%"><strong><%= number_to_currency orders.sum(&:calculate_total) %></strong></td>
            </tr>

            <tr>
                <td width="50%">Total</td>
                <td width="25%"><%= orders.count %></td>
                <td width="25%"><strong><%= number_to_currency orders.sum(&:total_discounted) %></strong></td>
            </tr>

            <tr class="green lighten-4">
                <td width="50%">Caixa inicial</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency caixa_inicial %></td>
            </tr>

            <tr style="cursor: pointer;" class="highlightHover" onclick="$('#boletos-'+<%= user.id %>).slideToggle(200);">
                <td width="50%">Boleto</td>
                <td width="25%"></td>
                <td width="45%">
                  <%= number_to_currency total_boleto %>
                </td>
            </tr>

            <tr id="boletos-<%= user.id %>" style="display: none;">
                <td colspan='4'>
                    <%= render "list_boletos", { user: user, orders: boletos } %>
                </td>
            </tr>

            <tr style="cursor: pointer;" class="highlightHover" onclick="$('#cartoes-'+<%= user.id %>).slideToggle(200);">
                <td width="50%">Cartão</td>
                <%
                  tt = orders.sum{|o| o.cc_value.to_f }
                  cc = orders.select{|o| o.credito }.sum{|o| o.cc_value.to_f }
                  dd = tt-cc
                %>
                <td width="25%">
                  D: <%= number_to_currency dd %>
                  <br>C: <%= number_to_currency cc %>
                </td>
                <td width="25%"><%= number_to_currency tt %></td>
            </tr>

            <tr id="cartoes-<%= user.id %>" style="display: none;">
                <td colspan='4'>
                    <%= render "list_cc", { user: user, orders: orders.select{|o| o.cc_value.to_f > 0 } } %>
                </td>
            </tr>
            
            <tr class="green lighten-4">
                <td width="50%">Dinheiro</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency (@money) %></td>
            </tr>

            <tr class="yellow lighten-3">
                <td width="50%">Descontos</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency descontos %></td>
            </tr>

            <tr class="yellow lighten-3">
                <td width="50%">Fretes</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency shippings %></td>
            </tr>

            <tr class="yellow lighten-3 highlightHover" style="cursor: pointer;" onclick="$('#envelopes-'+<%= user.id %>).slideToggle(200);">
                <td width="50%">Envelopes</td>
                <td width="25%"><%= envelopes.count %></td>
                <td width="25%"><%= number_to_currency (envelopes.any? ? envelopes.sum(&:value) : 0) %></td>
            </tr>

            <tr id="envelopes-<%= user.id %>" style="display: none;">
                <td colspan='4'>
                    <%= render "outputs", { user: user, outputs: envelopes } %>
                </td>
            </tr>

            <tr class="yellow lighten-3 highlightHover" style="cursor: pointer;" onclick="$('#despesas-'+<%= user.id %>).slideToggle(200);">
                <td width="50%">Despesas</td>
                <td width="25%"><%= despesas.count %></td>
                <td width="25%"><%= number_to_currency (despesas.sum(&:value)) %></td>
            </tr>

            <tr id="despesas-<%= user.id %>" style="display: none;">
                <td colspan='4'>
                    <%= render "outputs", { user: user, outputs: despesas } %>
                </td>
            </tr>

            <tr class="green lighten-4 highlightHover" style="cursor: pointer;" onclick="$('#injecoes-'+<%= user.id %>).slideToggle(200);">
                <td width="50%">Injeções</td>
                <td width="25%"><%= injecoes.count %></td>
                <td width="25%"><%= number_to_currency (injecoes.sum(&:value)) %></td>
            </tr>

            <tr id="injecoes-<%= user.id %>" style="display: none;">
                <td colspan='4'>
                    <%= render "outputs", { user: user, outputs: injecoes } %>
                </td>
            </tr>

            <tr class="yellow lighten-3">
                <td width="50%">Caixa final</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency caixa_final %></td>
            </tr>

            <tr class="blue-grey lighten-4">
                <td width="50%">Diferença</td>
                <td width="25%"></td>
                <td width="25%"><%= number_to_currency (caixa_inicial + @money - despesas.sum(&:value) - envelopes.sum(&:value) + injecoes.sum(&:value) - caixa_final) %></td>
            </tr>


            </tbody>
        </table>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
