    <div class="row five-margin-bot breads">
      <div class="col s12">
        <h5 class="left">Retiradas</h5>
      </div>
    </div>
    <style>
    .titled {
      color: #767676; font-size: 8px;
      text-transform: uppercase;
    }
    .rowed {
      padding: 0 0px;
      padding-bottom: 0px;
      margin: 0;
      font-size: 12px;
    }
    </style>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <%= link_to "Nova Retirada", new_output_path, class: "btn large" %>
    </div>

    <div class="card-panel">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="">#</th>
              <th data-field="name">Tipo</th>
              <th data-field="name">Responsável</th>
              <th data-field="name">Loja</th>
              <th data-field="name">Valor</th>
              <th data-field="name">Descrição</th>
              <th data-field="name">Data</th>
          </tr>
        </thead>

        <tbody>
          <% @outputs.each do |output| %>
          <tr>
            <td><%= output.id %></td>
            <td><%= output.type_name %></td>
            <td><%= output.user.name %></td>
            <td><%= output.stock.name %></td>
            <td><%= number_to_currency output.value %></td>
            <td><%= output.description %></td>
            <td><%= l(output.created_at).to_s.split("-")[0] %></td>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>

      <%= paginate @outputs %>

    </div>
</div>
