<div class="row">
  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 20px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas de hoje (por loja)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |user, orders| %>

          <tr>
            <td width="70%"><%= (user.try(:name) || user.try(:username)) || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 20px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas do mês (por loja)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders_by_month.each do |user, orders| %>

          <tr>
            <td width="70%"><%= (user.try(:name) || user.try(:username)) || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 5px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas do dia (por vendedor)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders_seller_by_today.each do |seller, orders| %>

          <tr>
            <td width="70%"><%= seller || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 5px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas do mês (por vendedor)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders_seller_by_month.each do |seller, orders| %>

          <tr>
            <td width="70%"><%= seller || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 5px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas do dia (por cliente)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders_client_by_today.each do |client, orders| %>

          <tr>
            <td width="70%"><%= client.try(:name) || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel" style="margin-top: 5px;">
      <h5 style="border-bottom: 1px dashed #dedede; padding-bottom: 12px; margin-top: 0; font-size: 16px; color: #aeaeae; font-weight: bold;">
        Vendas do mês (por cliente)
      </h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Vendas</th>
              <th data-field="actions">Total</th>
          </tr>
        </thead>

        <tbody>
          <% @orders_client_by_month.each do |client, orders| %>

          <tr>
            <td width="70%"><%= client.try(:name) || "Não associado" %></td>
            <td width="15%"><%= orders.count %></td>
            <td width="15%"><%= number_to_currency orders.sum(&:total) %></td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
