<% if user_signed_in? %>
<div class="row grey darken-3 white-text" style="margin: 0; padding: 5px;">
    <span class="nav-top-menu" style="padding-left: 10px;"><%= current_user.stock.name %></span>
    <span class="nav-top-menu right" style="padding-right: 10px;">
        <%= current_user.username %>
        <% if current_user.role_name.present? %>(<%= current_user.role_name %>)<% end %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "nav-sair-btn" %>
    </span>
</div>
<% end %>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Loja do Pintor</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% unless user_signed_in? %>
            <li><%= link_to new_user_session_path do %>
                <i class="material-icons left" aria-hidden="true">vpn_key</i> Entrar
                <% end %></li>
            <li><%= link_to new_user_registration_path do %>
                <i class="material-icons left" aria-hidden="true">perm_identity</i> Registrar
                <% end %></li>
            <% else %>
            <li><%= link_to 'Catálogo', root_path %></li>
            <li><%= link_to "#", 'data-activates' => "dropdown5", class: "dropdown-button" do %>
                Tintas <i class="material-icons right">arrow_drop_down</i>
                <% end %></li>
            <% if current_user.role.to_i == 0 %>
            <li><%= link_to 'Dados', profile_path %></li>
            <% end %>

            <% if false #current_user.caixa? %>
            <li><%= link_to 'Caixa', caixa_path %></li>
            <% end %>
            <li><%= link_to 'Pedidos', orders_path %></li>
            <% if current_user.vendedor? %>
            <li><%= link_to 'Clientes', clients_path %></li>
            <% end %>
            <% if current_user.caixa? %>
            <li><%= link_to "#", 'data-activates' => "dropdown3", class: "dropdown-button" do %>
                Integrações <i class="material-icons right">arrow_drop_down</i>
                <% end %></li>
            <li><%= link_to "#", 'data-activates' => "dropdown4", class: "dropdown-button" do %>
                Financeiro <i class="material-icons right">arrow_drop_down</i>
                <% end %></li>
            <% end %>
            <% if current_user.admin? %>
            <li><%= link_to "#", 'data-activates' => "dropdown2", class: "dropdown-button" do %>
                Cadastros <i class="material-icons right">arrow_drop_down</i>
                <% end %></li>
            <li><%= link_to "#", 'data-activates' => "dropdown1", class: "dropdown-button" do %>
                Relatórios <i class="material-icons right">arrow_drop_down</i>
                <% end %></li>

            <% end %>
            <% end %>
        </ul>

        <ul id="dropdown5" class="dropdown-content">
            <li><%= link_to 'SW', sw_path %></li>
            <li><%= link_to 'Resicolor', "#" %></li>
        </ul>

        <ul id="dropdown4" class="dropdown-content">
            <li><%= link_to 'Caixa', new_close_day_path %></li>
            <li><%= link_to 'Retiradas', outputs_path %></li>
            <% if current_user.admin? %>
                <li><%= link_to 'Fechamento', checkout_path %></li>
            <% end %>
        </ul>

        <ul id="dropdown3" class="dropdown-content">
            <li><%= link_to 'Resicolor', resicolor_path %></li>
            <li><%= link_to 'Efator', import_path %></li>
            <li><%= link_to 'Formulas', formulas_path %></li>
        </ul>

        <ul id="dropdown2" class="dropdown-content">
            <li><%= link_to 'Usuários', users_path %></li>
            <li><%= link_to 'Itens', items_path %></li>
            <li><%= link_to 'Ramos', sections_path %></li>
            <li><%= link_to 'Lojas', stocks_path %></li>
        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to 'Dashboard', dashboard_report_path %></li>
            <li><%= link_to 'Vendas', sales_report_path %></li>
            <li><%= link_to 'Itens', items_report_path %></li>
            <li><%= link_to 'Cliente', by_client_report_path %></li>
            <li><%= link_to 'Pautas', listings_path %></li>
        </ul>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
            <% unless user_signed_in? %>
            <li><%= link_to new_user_session_path do %>
                <i class="material-icons left" aria-hidden="true">vpn_key</i> Entrar
                <% end %></li>
            <li><%= link_to new_user_registration_path do %>
                <i class="material-icons left" aria-hidden="true">perm_identity</i> Registrar
                <% end %></li>
            <% else %>
            <li><%= link_to 'Catálogo', root_path %></li>
            <li><%= link_to 'Tintas', tintas_path %></li>
            <% if current_user.role.to_i == 0 %>
            <li><%= link_to 'Dados', profile_path %></li>
            <% end %>
            <% if current_user.admin? %>
            <li><%= link_to 'Usuários', users_path %></li>
            <li><%= link_to 'Itens', items_path %></li>
            <li><%= link_to 'Ramos', sections_path %></li>
            <% end %>
            <% if false#current_user.caixa? %>
            <li><%= link_to 'Caixa', caixa_path %></li>
            <% end %>
            <% if current_user.vendedor? %>
            <li><%= link_to 'Pautas', listings_path %></li>
            <li><%= link_to 'Clientes', clients_path %></li>
            <% end %>
            <li><%= link_to 'Pedidos', orders_path %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
            <% end %>
        </ul>
    </div>
</nav>